*{
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #222222;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
}
a:hover{
    color:#4DA7FF;
}
/*整体div*/
.div_all{
    width: 100%;
    height: 880px;
    background-color: #FAFAFA;
}
/*顶层div*/
.all_top{
    width: 100%;
    height: 96px;
    background-color: #FFFFFF;
}
.top{
    width: 1200px;
    height: 96px;
    margin: 0 auto;
}

/*顶层div左侧LOGO*/
.top_left{
    width: 114px;
    height: 96px;
    /*background-color:blue;*/
    float: left;
}
/*顶层div右侧表头*/
.top_right{
    width: 708px;
    height: 96px;
    float: left;
    margin-left: 378px;
}
.menu_ul{
    float: left;
}
.menu_ul li{
    list-style-type: none;
    float: left;
    margin-left: 56px;
    line-height: 96px;
}
.user_div{
    width: 95px;
    height: 38px;
    float: left;
    background-color: #4DA7FF;
    border-radius: 1px;
    margin-left: 33px;
    margin-top: 30px;
    text-align: center;
}
.user_div_name_div{
    width: 63px;
    height: 38px;
    float: left;
    line-height: 38px;
}
.name_div_name_p{
    color: white;
}
.user_div_image_div{
    width: 32px;
    height: 38px;
    float: left;
    line-height: 38px;
}
.user_div_img{
    float: left;
}