<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>AlphaAdmin</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
<div class="skin-default" id="wrapper">
    <!--头部栏-->
    <div th:replace="~{common/topBar::topBar}"></div>
    <!--左边侧边栏-->
    <div th:replace="~{common/navBar::navBar}"></div>
    <div class="page-wrapper">

        <section class="page-body">
            <div class="row widget">
                <div class="form col-lg-3 widget-drag searchSchool">
                    <div>
                       <div class="form-group" id="typeList">
                            <!--<select class="form-control" >
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>-->
                        </div>
                    </div>
                </div>
            </div>
            <section class="col-lg-12 widget-drag">
                <form action="uploadVideo" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="videoTypeId" name="videoTypeId">
                    文件: <input type="file" name="file" multiple="multiple"/><br><br>
                    <input type="submit" value="提交"/>
                </form>
            </section>
            <section class="col-lg-12 widget-drag">
                <div>
                    <video class="videoD" src="http://localhost:8089/video/wx_camera_1559303897032.mp4" controls="controls">
                        your browser does not support the video tag
                    </video>

                </div>
            </section>
        </section>
    </div>
    <!-- 修改密码模态框 -->
    <div class="modal fade menu-setpassword" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>
                                旧密码
                            </th>
                            <td>
                                <input type="text" class="form-control" placeholder="请输入旧密码" name="js-oldPassword">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                新密码
                            </th>
                            <td>
                                <input type="text" class="form-control" placeholder="请输入新密码" name="js-newPassword">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                确认密码
                            </th>
                            <td>
                                <input type="text" class="form-control" placeholder="请再次输入新密码" name="js-verifyPassword">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 退出提示模态框 -->
    <div class="modal fade menu-logout" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>是否确定退出</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">登出</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/plugins/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/libs/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/Chart.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/echarts.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/alpha.js"></script>
<script type="text/javascript" src="/assets/js/plugins/ajaxfileupload.js"></script>
<!--<script type="text/javascript" src="/assets/js/plugins/dashboard.js"></script>-->
<script type="text/javascript" src="/assets/js/plugins/helperUtils.js"></script>
<script type="text/javascript" src="/assets/js/manager/videoList.js"></script>
</body>
</html>