<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>AlphaAdmin</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
<div class="skin-default" id="wrapper">
    <!--头部栏-->
    <div th:replace="~{common/topBar::topBar}"></div>
    <!--左边侧边栏-->
    <div th:replace="~{common/navBar::navBar}"></div>
    <div class="page-wrapper">

        <section class="page-body">
            <div class="row widget">
                <div class="form col-lg-3 widget-drag searchSchool">
                    <div>
                       <div class="form-group" id="typeList">
                            <select class="form-control" >
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <section class="col-lg-12 widget-drag" style="background-color: #FFFFFF;">
                <form  action="uploadVideo" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="videoTypeId" name="videoTypeId">
                    文件:
                    <input type="file" name="file" multiple="multiple"/><br>
                    <input type="submit" value="提交"/>
                </form>
            </section>
            <section class="col-lg-12 widget-drag" style="background-color: #FFFFFF;">
                <div class="videoList">
                    <video class="videoD" src="/assets/video/44.mp4" controls="controls"></video>
                    <video class="videoD" src="/assets/video/44.mp4" controls="controls"></video>
                    <video class="videoD" src="/assets/video/44.mp4" controls="controls"></video>
                    <video class="videoD" src="/assets/video/44.mp4" controls="controls"></video>
                    <video class="videoD" src="/assets/video/44.mp4" controls="controls"></video>
                    <video class="videoD" src="/assets/video/44.mp4" controls="controls"></video>

                </div>
                <div class="count clearfix" >
                    <div class="paging pull-right">
                        <div class="clearfix">
                        </div>
                    </div>
                    <span id="p_info" class="pull-right">共有<i class="total">88</i>条，每页显示：<i class="pageSize">15</i>条</span>
                </div>
            </section>
        </section>
    </div>
    <div th:replace="~{common/dialog::menu-setpassword}"></div>
    <div th:replace="~{common/dialog::menu-logout}"></div>
    <div th:replace="~{common/dialog::del}"></div>
</div>
<script type="text/javascript" src="/assets/js/plugins/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/libs/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/Chart.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/echarts.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/alpha.js"></script>
<script type="text/javascript" src="/assets/js/plugins/ajaxfileupload.js"></script>
<!--<script type="text/javascript" src="/assets/js/plugins/dashboard.js"></script>-->
<script type="text/javascript" src="/assets/js/plugins/helperUtils.js"></script>
<!--<script type="text/javascript" src="/assets/js/manager/videoList.js"></script>-->
</body>
</html>