<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="all_top" th:fragment="topBar">
    <div class="top">
        <div class="top_left">
            <!--
            作者：bao97664340@qq.com
            时间：2019-09-03
            描述：logo
        -->
        </div>
        <div class="top_right">
            <ul class="menu_ul">
                <li >
                    <a  href="#">首页</a>
                </li>
                <li >
                    <a  href="#">能力测试</a>
                </li>
                <li >
                    <a  href="#">能力成长</a>
                </li>
                <li >
                    <a  href="#">就业职位匹配</a>
                </li>
                <li >
                    <a  href="#">个人信息</a>
                </li>
            </ul>
            <div class="user_div">
                <div class="user_div_name_div">
                    <p class="name_div_name_p">李文龙</p>
                </div>
                <div class="user_div_image_div">
                    <img src="/img/icon/select.png" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>